extend page
block content

    div(class="block")
        if  (accounts.length != 0)
            div(class="flex justify-content-space-between")
                div(class="four columns")
                    p  
                        strong Email Address
                div(class="four columns")
                    p
                        strong Account Type
                div(class="four columns")
                    p
                        strong Action
            
            form(action="/approve_accounts" method="post")
                - for (var i = 0; i < accounts.length; i++)
                    - var account = accounts[i]
                    
                    div(class="flex justify-content-space-between")
                        div(class="four columns")
                            p= account.email
                        div(class="four columns")
                            select(name='users['+i+'][accountType]')
                                option(value='master') Master
                                option(value='intermediate') Intermediate
                                option(value='basic' selected=true) Basic
                        div(class="two columns")
                            span(style='display:inline-block')
                                label(style='font-weight: 400')
                                    input(type='radio', checked, name='users['+i+'][isApproved]' value='true')
                                    | Approve
                        div(class="two columns")
                            span(style='display:inline-block')
                                label(style='font-weight: 400')
                                    input(type='radio', checked, name='users['+i+'][isApproved]' value='false')
                                    | Decline
                    input(type="hidden", name='users['+i+'][email]', value=account.email)
            
                input(type='submit', value='Approve/Decline Accounts')
            
        else
            p No accounts to approve