extend page
block content
    div(class="login-wrapper")
        div(class="logo")
        div(class="login-box flex")
            div(class="gap")
                form(action='/change_password', method='POST')
                  div(class="item-wrapper")
                    h1 Change Password
                    div(class="row login-field")
                      div(class="twelve columns")
                        input(type='password',  class="u-full-width", placeholder='Current Password', name='currentPass', required)
                    div(class="row login-field")
                      div(class="twelve columns")
                        input(type='password',  class="u-full-width", placeholder='New Password', name='newPass', required)
                    div(class="row login-field")
                      div(class="twelve columns")
                        input(type='password',  class="u-full-width", placeholder='Repeat New Password', name='repeatNewPass', required)
                    div(class="row")
                      div(class="twelve columns")
                        input(type='submit',  class="u-full-width button-primary", value='Change Password')