extend page
block content

	div(class="block")
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel='stylesheet', href='https://cdn.rawgit.com/weareoutman/clockpicker/gh-pages/dist/jquery-clockpicker.min.css')
		script(src='https://code.jquery.com/jquery-1.12.4.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		script(src='https://cdn.rawgit.com/weareoutman/clockpicker/gh-pages/dist/jquery-clockpicker.min.js')

		
		script.
			$( function() {
				$("#startDate").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
					onClose: function(selectedDate) {
				        $("#endDate").datepicker("option", "minDate", selectedDate);
				    }
				});
			} );
			
			$( function() {
				$("#startDate2").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
					onClose: function(selectedDate) {
				        $("#endDate2").datepicker("option", "minDate", selectedDate);
				    }
				});
			} );
			
			$( function() {
				$("#endDate").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
				});
			} );
			
			$( function() {
				$("#endDate2").datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: new Date('2015/08/01'),
					changeMonth: true,
					changeYear: true,
					maxDate: 0,
				});
			} );
			
			
			$( function() {
			$( "#tabs" ).tabs();
			} );
			
		style.
			td:nth-child(even) {
			background-color: #f9f9f9;
			}
			td{
				width:14.2%;
			}
			th:nth-child(even) {
			background-color: #f9f9f9;
			}
			table, th, td {
			border: 1px solid black;
			text-align: center;
			padding: 4px;
			}
			table th p
			{
				margin-bottom:0;
			}
		
		#tabs
			ul
				li
					a(href='#tabs-1') Aggregate Filtering
				li
					a(href='#tabs-2') Granular Filtering
			#tabs-1
				form(action='/filter_graph', method='GET')
					div(class="flex justify-content-space-between")
						div(class="six columns")
							label(for="startDate") Start Date
							input#startDate(type='text', class="u-full-width", name='startDate', autocomplete='off') 
						div(class="six columns")
							label(for="endDate") End Date
							input#endDate(type='text', class="u-full-width", name='endDate', autocomplete='off')
					
					br
					
					div(class="flex")
						label Group Size
					
					div(class="flex justify-content-space-between")
						div(class="three columns")
							input(type='radio', name='groupBy', value='Daily', checked)
							|  Daily  
						div(class="three columns")
							input(type='radio', name='groupBy', value='Weekly')
							|  Weekly  
						div(class="three columns")
							input(type='radio', name='groupBy', value='Monthly')
							|  Monthly 
						div(class="three columns")
							input(type='radio', name='groupBy', value='Yearly')
							|  Yearly 
							
					br
					
					div(class="flex")
						label Chart Type
						
					div(class="flex")
						div(class="six columns")
							select(name="chartType", class="u-full-width")
								option(value="bar") Bar
								option(value="line") Line
					
					br
					
					div(class="flex")
						label Venues
					
					div(class="flex")
						input#checkall(type='checkbox', name='checkall', onclick='check_uncheck_checkbox(this.checked);') 
						| Toggle All Venues
					
					-for (var i = 0; i < outletNames.length; i++)
						if (i % 4 === 0)
							br
							div(class="flex")
								-for (var e = i; e < i + 4; e++) 
									- if (outletNames[e])
										div(class="three columns")
											input(type='checkbox', name='venues')
											|  #{outletNames[e]}
					
					br 
					input(type="hidden", name="formType", value="aggregate")
					input(type="submit", value="Filter Data", class="button-primary")
			#tabs-2
			
				form(action='/filter_graph', method='GET')
					div(class="flex justify-content-space-between")
						div(class="six columns")
							label(for="startDate") Start Date
							input#startDate2(type='text', class="u-full-width", name='startDate', autocomplete='off') 
						div(class="six columns")
							label(for="endDate") End Date
							input#endDate2(type='text', class="u-full-width", name='endDate', autocomplete='off')
					
					br
					
					div(class="flex")
						label Day of the Week
					
					div(class="flex justify-content-space-between")
						div(class="three columns")
							input(type="checkbox", name="days", value="1")
							|  Monday
						div(class="three columns")
							input(type="checkbox", name="days", value="2")
							|  Tuesday
						div(class="three columns")
							input(type="checkbox", name="days", value="3")
							|  Wednesday
						div(class="three columns")
							input(type="checkbox", name="days", value="4")
							|  Thursday
							
					br
					div(class="flex justify-content-space-between")
						div(class="three columns")
							input(type="checkbox", name="days", value="5")
							|  Friday
						div(class="three columns")
							input(type="checkbox", name="days", value="6")
							|  Saturday
						div(class="three columns")
							input(type="checkbox", name="days", value="7")
							|  Sunday
						div(class="three columns")
							
					br
					div(class="flex justify-content-space-between")
						div(class="six columns")
							label(for="startDate") Start Time
							input#startTime(name='startTime', class="u-full-width", type='text', value='00:00', autocomplete='off')
						div(class="six columns")
							label(for="endDate") End Time
							input#endTime(name='endTime', class="u-full-width", type='text', value='00:00', autocomplete='off')
					
					script.
						$('#startTime').clockpicker({
							autoclose: true,
							default: "00:00"
						});
						$('#endTime').clockpicker({
							autoclose: true,
							default: "00:00"
						});
						
					p()
					
					button(type="button", onclick='toggleAdvanced("advancedDiv2")') Show advanced options
					#advancedDiv2(style="display:none;")
						| Chart Type   
						select(name="chartType")
							option(value="bar") Bar
							option(value="line") Line
						br
						#divCheckAll
							input#checkall(type='checkbox', name='checkall', onclick='check_uncheck_checkbox(this.checked);')
							| Toggle All Venues
						#divCheckboxList
							br
							- for (var i = 0, j = 0; i < outletNames.length; i++,j++)
								- if (j % 3 === 0 && j !== 0)
								input(type='checkbox', name='venues', value=outletNames[i])
								|  #{outletNames[i]}  
								br
						
					p()
					input(type="hidden", name="formType", value="granular")
					input(type="submit", value="Filter Data", class="button-primary")
					
			script.
				function toggleAdvanced(divName) {
					var x = document.getElementById(divName);
					if (x.style.display === 'none') {
						x.style.display = 'block';
					} else {
						x.style.display = 'none';
					}
				}
				
			script.
				function check_uncheck_checkbox(isChecked) {
					if(isChecked) {
						$('input[name="venues"]').each(function() {
							this.checked = true;
						});
					} else {
						$('input[name="venues"]').each(function() {
							this.checked = false;
						});
					}
				}
				
				