extend page
block content
	div(class="block")
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		script(src='https://code.jquery.com/jquery-1.12.4.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		script.
			$( function() {
				$( "#startDate" ).datepicker({
					dateFormat: 'dd-mm-yy'
				});
			} );
			
			$( function() {
				$( "#endDate" ).datepicker({
					dateFormat: 'dd-mm-yy'
				});
			} );
			
			
		form(action='/filter_graph', method='GET')
			| Start Date: 
			if (startDate === null)
				input#startDate(type='text', name='startDate') 
			else
				input#startDate(type='text', name='startDate', value=startDate)
			| End Date
			if (endDate === null)
				input#endDate(type='text', name='endDate')
			else
				input#endDate(type='text', name='endDate', value=endDate)
			
			p Group By: 
				input(type='radio', name='groupBy', value='Daily', checked)
				|  Daily  
				input(type='radio', name='groupBy', value='Weekly')
				|  Weekly  
				input(type='radio', name='groupBy', value='Monthly')
				|  Monthly 
				input(type='radio', name='groupBy', value='Yearly')
				|  Yearly 
			
			button(type="button", onclick='toggleAdvanced()') Show advanced options
			#advancedDiv(style="display:none;")
				| Chart Type   
				select(name="chartType")
					option(value="line") Line
					option(value="bar") Bar
				br
				input#ckbCheckAll(type='checkbox')
				| Toggle All Venues
				p#checkBoxes
					input.checkBoxClass(type='checkbox')
					br
					input.checkBoxClass(type='checkbox')
					br
					input.checkBoxClass(type='checkbox')
					br
					input.checkBoxClass(type='checkbox')
					br
					input.checkBoxClass(type='checkbox')
					br
					- for (var i = 0, j = 0; i < outletNames.length; i++,j++)
						- if (j % 3 === 0 && j !== 0)
						input.checkBoxClass(type='checkbox', name='venues', value=outletNames[i])
						|  #{outletNames[i]}  
						br
				
			input(type="submit", value="Filter Data", class="button-primary")
			
			script.
				function toggleAdvanced() {
					var x = document.getElementById('advancedDiv');
					if (x.style.display === 'none') {
						x.style.display = 'block';
					} else {
						x.style.display = 'none';
					}
				}
				
			script.
				$(document).ready(function () {
					$("#ckbCheckAll").click(function () {
						$(".checkBoxClass").prop('checked', $(this).prop('checked'));
				});