extend page 
block content 

    div(class="calendar")
        div(class="calendar-week row-dynamic")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
                div(class="calendar-day-title") 
                div(class="calendar-item-back")
                    div(class="calendar-item", style="width: 60%;") e
                    p(class="calendar-item-text") Shop #1
                div(class="calendar-item-back")
                    div(class="calendar-item", style="width: 20%;") e
                    p(class="calendar-item-text") Shop #1
                div(class="calendar-item-back")
                    div(class="calendar-item", style="width: 50%;") e
                    p(class="calendar-item-text") Shop #1
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
        div(class="calendar-week row-dynamic")
            div(class="calendar-day")
            div(class="calendar-day no-data")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
        div(class="calendar-week row-dynamic")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
        div(class="calendar-week row-dynamic")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
        div(class="calendar-week row-dynamic")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")