extend page 
block content 

    div(class="calendar")
        div(class="calendar-week row")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")
            div(class="calendar-day")