extend page 
block content 
    
    div(class="block")
        div(class="calendar")
            div(class="calendar-week row-dynamic")
                div(class="calendar-day no-day")
                div(class="calendar-day no-day")
                div(class="calendar-day no-day")
                div(class="calendar-day no-day")
                div(class="calendar-day") 1
                div(class="calendar-day") 2
                div(class="calendar-day") 3
            div(class="calendar-week row-dynamic")
                div(class="calendar-day") 4
                div(class="calendar-day no-data") 5
                div(class="calendar-day") 6
                div(class="calendar-day") 7
                div(class="calendar-day") 8
                div(class="calendar-day") 9
                div(class="calendar-day") 10
            div(class="calendar-week row-dynamic")
                div(class="calendar-day") 11
                div(class="calendar-day") 12
                div(class="calendar-day") 13
                div(class="calendar-day") 14
                    div(class="calendar-day-title") 
                    div(class="calendar-item-back")
                        div(class="calendar-item", style="width: 60%;") e
                        p(class="calendar-item-text") Shop #1
                    div(class="calendar-item-back")
                        div(class="calendar-item", style="width: 20%;") e
                        p(class="calendar-item-text") Shop #1
                    div(class="calendar-item-back")
                        div(class="calendar-item", style="width: 50%;") e
                        p(class="calendar-item-text") Shop #1
                div(class="calendar-day") 15
                div(class="calendar-day") 16
                div(class="calendar-day") 17
            div(class="calendar-week row-dynamic")
                div(class="calendar-day") 18
                div(class="calendar-day") 19
                div(class="calendar-day") 20
                div(class="calendar-day") 21
                div(class="calendar-day") 22
                div(class="calendar-day") 23
                div(class="calendar-day") 24
            div(class="calendar-week row-dynamic")
                div(class="calendar-day") 25
                div(class="calendar-day") 26
                div(class="calendar-day") 27
                div(class="calendar-day") 28
                div(class="calendar-day") 29
                div(class="calendar-day") 30
                div(class="calendar-day no-day")