extend page
block content

    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    
    script.
        $( function() {
            $("#startDate").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: new Date('2015/08/01'),
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
                onClose: function(selectedDate) {
                    $("#endDate").datepicker("option", "minDate", selectedDate);
                }
            });
        });
        
        $( function() {
            $("#endDate").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: new Date('2015/08/01'),
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
            });
        });

    div(class="block")
        
        
        form(action="/insights" method="post")
            | Start Date: 
            if(startDate)
                input#startDate(type='text', name='startDate', value=startDate, autocomplete='off', readonly="true")
            else
                input#startDate(type='text', name='startDate', autocomplete='off', readonly="true")
            |  End Date: 
            if(endDate)
                input#endDate(name="endDate" type="text", value=endDate, autocomplete='off', readonly="true")
            else
                input#endDate(name="endDate" type="text", autocomplete='off', readonly="true")
            input(type='submit', value='Analyse')
    
    - if (insight)
        div(class="block") 
            - for (let i = 0; i < insight.top.length; i++)
                - let item = insight.top[i];
                p(style="color: #27ae60")
                    i(class="fa fa-check", aria-hidden="true")
                    |  
                    != item
                    
            - for (let i = 0; i < insight.middle.length; i++)
                - let item = insight.middle[i];
                p(style="color: #f39c12")
                    i(class="fa fa-circle-o", aria-hidden="true")
                    |  
                    != item
                    
            - for (let i = 0; i < insight.bottom.length; i++)
                - let item = insight.bottom[i];
                p(style="color: #e74c3c")
                    i(class="fa fa-times", aria-hidden="true")
                    |  
                    != item
                