extend page
block content

    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    
    script.
        $( function() {
            $("#startDate").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: new Date('2015/08/01'),
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
                onClose: function(selectedDate) {
                    $("#endDate").datepicker("option", "minDate", selectedDate);
                }
            });
        });
        
        $( function() {
            $("#endDate").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: new Date('2015/08/01'),
                changeMonth: true,
                changeYear: true,
                maxDate: 0,
            });
        });

    div(class="block")
        
        
        form(action="/insights" method="post")
            div(class="flex justify-content-space-between")
                div(class="six columns")
                    label(for="startDate") Start Date
                    input#startDate(type='text', class="u-full-width", name='startDate', autocomplete='off', readonly="true") 
                div(class="six columns")
                    label(for="endDate") End Date
                    input#endDate(type='text', class="u-full-width", name='endDate', autocomplete='off', readonly="true")
			
            br
			
            input(type='submit', value='Analyse Date Range')
    
    - if (insight)
        div(class="block") 
            - if (insight.top.length === 0 && insight.middle.length === 0 && insight.bottom.length === 0)
                p No insight data could be generated. There is not enough data within the date ranges you have given.
            - else
                p Insights are a way to observe the performance of every outlet and figure out where there may be trends and patterns within an aggregate scope of all customers within the given time range. While Insights are a useful tool for figuring where more/less resources can be allocated and where a targeted advertising campaign would be effective, they do not provide context by themselves and should be used to aid in analysis of an outlet.
                - for (let i = 0; i < insight.top.length; i++)
                    - let item = insight.top[i];
                    p(style="color: #27ae60")
                        i(class="fa fa-check", aria-hidden="true")
                        |  
                        != item
                        
                - for (let i = 0; i < insight.middle.length; i++)
                    - let item = insight.middle[i];
                    p(style="color: #f39c12")
                        i(class="fa fa-circle-o", aria-hidden="true")
                        |  
                        != item
                        
                - for (let i = 0; i < insight.bottom.length; i++)
                    - let item = insight.bottom[i];
                    p(style="color: #e74c3c")
                        i(class="fa fa-times", aria-hidden="true")
                        |  
                        != item
                    