doctype html
html(lang="en", dir="ltr")
    head
        title YO!TRACK DASHBOARD - #{title}
        meta(title="YO!TRACK DASHBOARD")
        
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="author", content="")
        meta(name="copyright", content="")
        
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie-edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        
        meta(name="theme-color", content="#ff67c7")
        meta(name="msapplication-navbutton-color", content="#ff67c7")
        meta(name="apple-mobile-web-app-status-bar-style", content="#ff67c7")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:400,700")
        link(rel="stylesheet", href="css/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/skeleton.min.css")
        link(rel="stylesheet", href="css/normalize.min.css")
        link(rel="stylesheet", href="css/style.css")

    body(class="flex flex-column")
        header
            nav
                div(class="wrapper flex justify-content-space-between align-items-center")
                    div(class="left flex-grow")
                        h1(class="title") 
                            span(class="pink") Yo!
                            | track 
                            span(class="light") dashboard
                    div(class="right")
                        ul
                            li
                                a(href="#", class="logout") 
                                    | Log out 
                                    i(class="fa fa-sign-out", aria-hidden="true")
                
        main(class="flex flex-grow")
            aside
                nav
                    ul
                        li 
                            a(href="#")
                                p
                                    i(class="fa fa-calendar", aria-hidden="true")
                                    span Calendar View
                        li 
                            a(href="#")
                                p
                                    i(class="fa fa-sun-o", aria-hidden="true")
                                    span Daily View
                        li 
                            a(href="#")
                                p
                                    i(class="fa fa-search", aria-hidden="true")
                                    span Search
                        li 
                            a(href="/upload_transactions")
                                p
                                    i(class="fa fa-upload", aria-hidden="true")
                                    span Upload Data
                        li 
                            a(href="#")
                                p
                                    i(class="fa fa-history", aria-hidden="true")
                                    span Upload History
                        li 
                            a(href="#")
                                p
                                    i(class="fa fa-thumbs-o-up", aria-hidden="true")
                                    span Account Approval
            article
                block content
            