doctype html
html(lang="en", dir="ltr")
    head
        title YO!TRACK DASHBOARD - #{title}
        meta(title="YO!TRACK DASHBOARD")
        
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="author", content="")
        meta(name="copyright", content="")
        
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie-edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        
        meta(name="theme-color", content="#ff67c7")
        meta(name="msapplication-navbutton-color", content="#ff67c7")
        meta(name="apple-mobile-web-app-status-bar-style", content="#ff67c7")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:400,700")
        link(rel="stylesheet", href="/css/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/skeleton.min.css")
        link(rel="stylesheet", href="/css/normalize.min.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/flash.css")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        
    body(class="flex flex-column")
        header
            nav
                div(class="wrapper flex justify-content-space-between align-items-center")
                    div(class="left flex-grow")
                        h1(class="title") 
                            span(class="pink") Yo!
                            | track 
                            span(class="light") dashboard
                    div(class="right")
                        ul
                            - var greetings = [ 'Hello, {0} {1}!', 'Hi, {0} {1}!', 'Hi, {0}!' ]
                            li(class="greet")= greetings[Math.floor(Math.random() * greetings.length)].replace('{0}', user.firstName).replace('{1}', user.lastName)
                            li
                                a(href="/logout", class="logout") 
                                    | Log out 
                                    i(class="fa fa-sign-out", aria-hidden="true")
                
        main(class="flex flex-grow")
            aside
                nav
                    ul
                        li 
                            a(href="/calendar")
                                p
                                    i(class="fa fa-calendar", aria-hidden="true")
                                    span Calendar View
                        li 
                            a(href="/day_view")
                                p
                                    i(class="fa fa-sun-o", aria-hidden="true")
                                    span Daily View
                        li 
                            a(href="#")
                                p
                                    i(class="fa fa-search", aria-hidden="true")
                                    span Search
                        if (user.isMasterAccount())
                            li 
                                a(href="/insights")
                                    p
                                        i(class="fa fa-rocket", aria-hidden="true")
                                        span Insights
                                        
                            li 
                                a(href="/upload_transactions")
                                    p
                                        i(class="fa fa-upload", aria-hidden="true")
                                        span Upload Data
                                        
                            li 
                                a(href="/upload_history")
                                    p
                                        i(class="fa fa-history", aria-hidden="true")
                                        span Upload History
                                        
                            li 
                                a(href="/approve_accounts")
                                    p
                                        i(class="fa fa-thumbs-o-up", aria-hidden="true")
                                        span Account Approval
            article
                if (messages)
                    if (messages.error)
                        for message, index in messages.error
                            div(class="flash error", id="flash-error-" + index)
                                i(class="fa fa-bug", aria-hidden="true")
                                p
                                    strong= message
                                a(onclick="$('#flash-error-" + index + "').fadeOut();")
                                    i(class="fa fa-times", aria-hidden="true")
                    if (messages.success)
                        for message, index in messages.success
                            div(class="flash success", id="flash-success-" + index)
                                i(class="fa fa-lightbulb-o", aria-hidden="true")
                                p
                                    strong= message
                                a(onclick="$('#flash-success-" + index + "').fadeOut();")
                                    i(class="fa fa-times", aria-hidden="true")
                                
                block content
            