extend page 
block content 

    form(action="/register", method="post")
        ul(style="list-style-type:none")
            li
                input(type="text", name="firstName", placeholder="First Name")
            li
                input(type="text", name="lastName", placeholder="Last Name")
            li
                input(type="email", name="email", placeholder="Email")
            li
                input(type="password", name="password", placeholder="Password")
            li
                input(type="password", name="repeatPassword", placeholder="Repeat Password")
            li
                input(type="submit", value="submit")