extend page
block content

    div(class="block")
        form(action="/upload_transactions", method="POST", enctype="multipart/form-data")
            h1 Upload Transactions
            p Select a spreadsheet to upload (Only the .xlsx format is accepted)
            input(type="file", name="spreadsheet", accept=".xlsx")
            p
            p Specify the number of the workbook containing the full list of transactions:
            input(type="number", min="1", value="1", name="workbookNumber")
            p
            input(type="submit", value="Upload Transactions", class="button-primary")