extend page 
block content
    
    if  (uploads.length != 0)
        
        form(action="/uploads" method="post")
            - for (var i = 0; i < uploads.length; i++)
                - var user = accounts[i]
                li= user.email
                input(type='radio', checked, name='users['+i+'][isApproved]' value='true')
                | Approve
                input(type='radio', checked, name='users['+i+'][isApproved]' value='false')
                | Decline
                input(type="hidden", name='users['+i+'][email]', value=user.email)
        
            input(type='submit', value='Approve/Decline Accounts')
        
    else
        p No upload history to display