*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(235, 235, 235);
}

header {
    display: block;
}

header nav {
    background: #2c3e50;
    color: #fff;
    position: relative;
    padding: 13px 0;
}

header nav .container {
    padding: 0 30px;
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 7px 12px;
    line-height: 2.5em;
}

header nav ul li a:hover {
    color: white;
}

header nav .title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px 12px;
    margin: 0;
    font-size: 1.5em;
    line-height: 1em;
}

header nav .title span {
    color: #ff67c7;
}

header nav .logout {
    border: 1px solid #e74c3c;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
}

header nav .logout:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    border-radius: 8px;
}

.calendar {
    color: white;
    padding: 0.1em;
}

.calendar-week {
    color: white;
}

.calendar-week:before, .calendar-week:after {
    color: white;
    
}

.calendar-week:after {
    color: white;
}

.calendar-day {
    display: block;
	width: 14.28571428571429%;
	border: 1px solid rgb(235, 235, 235);
	min-height: 120px;
	margin: 0.1em;
	padding: 0.3em;
	border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.calendar-item-back {
    width: 100%;
    background: rgb(235, 235, 235);
    margin: 0.1em;
    height: 1em;
    border-radius: 10px;
    margin-bottom: 0.05em;
    position: relative;
}

.calendar-item {
    background: red;
    border-radius: 10px;
    padding-left: 5px;
    position: absolute;
    color: transparent;
    font-size: 0.5em;
    width: 100%;
    height: 100%;
}

.calendar-item-text {
    text-transform: uppercase;
    font-size: 0.5em;
    z-index: 99;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    position: absolute;
    line-height: 2em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.calendar-no-data {
    background: black;
    border: 1px solid black;
}

/* HELPERS */
.flex { display: flex; }
.justify-content-space-between { justify-content: space-between; }