/* MAIN TEMPLATE STUFF */

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgb(235, 238, 250);
}

header {
    display: block;
}

header nav {
    background: #2c3e50;
    color: #fff;
    position: relative;
    padding: 13px 0;
    z-index: 99;
    box-shadow: 1px 1px 2px rgba(195, 195, 195, 0.8);
}

header nav .wrapper {
    padding: 0 20px;
    width: 100%;
}

header nav .right {
    
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 7px 12px;
    margin: 0 2.5px;
    line-height: 2.5em;
}

header nav ul li a:hover {
    color: white;
}

header nav a {
    text-decoration: none;
    color: white !important;
}

header nav .title {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px 12px;
    margin: 0;
    font-size: 1.5em;
    line-height: 1em;
    color: white !important;
}

header nav .title .pink {
    color: #ff67c7 !important;
}

header nav .title .light {
    font-weight: 400;
}

header nav .logout {
    border: 1px solid transparent;  /*#e74c3c;*/
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
}

header nav .logout:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    border-radius: 8px;
}

header nav .upload {
    border: 1px solid #3498db;
    background: #3498db;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
}

header nav .upload:hover {
    border: 1px solid #2980b9;
    background: #2980b9;
    border-radius: 8px;
}

main {
    
}

main aside {
    background: #fff;
    min-width: 6em;
    min-height: 100%;
    display: block;
    z-index: 99;
    box-shadow: 1px 1px 2px rgba(195, 195, 195, 0.8);
}

main aside nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main aside nav ul li {
    padding: 0;
    margin: 0;
}

main aside nav ul li a {
    display: block;
    width: 6em;
    height: 6em;
    border-bottom: 1px solid rgb(195, 195, 195);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(155, 155, 155);
}

main aside nav ul li a:hover {
    background: #ff67c7;
    color: #fff !important;
}

main aside nav ul li a p {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

main aside nav ul li a i {
    font-size: 2.5em !important;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    display: block;
}

main aside nav ul li a span {
    text-transform: uppercase;
    font-size: 0.7em;
    margin: 0;
    padding: 0 5px;
    display: block;
    line-height: 1em;
}


main aside nav ul li a .notification {
    position: absolute;
    display: block;
    text-align: center;
    top: 20px;
    left: 20px;
    min-width: 2em;
    height: 2em;
    font-weight: 700;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

main aside section {
    border-left: 1px solid rgb(195, 195, 195);
    width: 25vw;
    min-height: 100%;
    display: block
}

main aside section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main aside section ul li {
    margin: 0;
    padding: 1em 2em;
    border-bottom: 1px solid rgb(195, 195, 195);
    cursor: pointer;
}

.outlets {
    cursor: initial;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85em;
    padding: 0.5em 2em;
}

.toggle {
    background: rgb(235, 238, 250);
}

main article {
    width: 100%;
}

.block {
    background: white;
    margin: 2em;
    padding: 3em;
    box-shadow: 1px 1px 2px rgba(195, 195, 195, 0.8);
    border-radius: 5px;
    border: 1px solid rgba(195, 195, 195, 0.8);
}

.block h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.greet {
    margin-right: 2em;
}

.flash {
    margin: 2em;
}

/* CALENDAR VIEW */

.calendar {
    color: white;
    padding: 0.1em;
}

.calendar-week {
    color: white;
}

.calendar-week:before, .calendar-week:after {
    color: white;
    
}

.calendar-week:after {
    color: white;
}

.calendar-day {
    display: block;
	width: 14.28571428571429%;
	border: 1px solid rgb(195, 195, 195);
	min-height: 120px;
	margin: 0.3em;
	padding: 0.6em 0.3em;
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #000;
}

.calendar-day p {
    margin: 0;
    text-align: center;
}

.calendar-day span {
    margin-left: 1em;
    margin-top: 1em;
}

.date-heading {
    min-height: initial !important;
    text-transform: uppercase;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 5px;
    border-radius: 0;
}

.calendar-item-back {
    width: 100%;
    background: rgb(195, 195, 195);
    margin: 0.1em;
    height: 1em;
    border-radius: 10px;
    margin-bottom: 0.05em;
    position: relative;
}

.calendar-item {
    background: red;
    border-radius: 10px;
    padding-left: 5px;
    position: absolute;
    color: transparent;
    font-size: 0.5em;
    width: 100%;
    height: 100%;
}

.calendar-item-text {
    text-transform: uppercase;
    font-size: 0.5em;
    z-index: 99;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    position: absolute;
    line-height: 2em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    font-weight: 700;
    color: #fff;
}

.calendar .no-day {
    background: repeating-linear-gradient(
      45deg,
      rgb(195, 195, 195),
      rgb(195, 195, 195) 10px,
      #fff 10px,
      #fff 20px
    );
}

.calendar .no-data {
    background: #333;
    border: 1px solid #333;
    color: #fff;
}

.right-gap {
    margin-right: 1em;
}

/* UPLOAD */

/* DAY VIEW */
.block canvas {
    width: 100% !important;
    max-width: 100%;
    overflow-x: hidden;
}

/* HELPERS */
.flex { display: flex; }
.justify-content-space-between { justify-content: space-between; }
.align-items-center { align-items: center; }
.flex-grow { flex-grow: 1; }
.flex-column { flex-direction: column; }

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background: #2c3e50;
}
 
::-webkit-scrollbar-thumb {
    background: #ff67c7;
}

/* OVERRIDES */
.ui-widget {
    font-family: inherit !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #ff67c7 !important;
    background: #ff67c7 !important;
}